{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Car</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body id="top">

<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('{% static 'img/demo/backgrounds/delorian3.jpg' %}');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1  style="color:Green"><a href="{% url 'index' %}  ">Exit</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a style="color: Red" href="{% url 'index' %}">Home</a></li>
          <li><a style="color: Yellow" href="{% url 'random' %}">Fast Car</a>
          <li><a style="color: Blue" href="{% url 'many' %}">Some information</a>
          <li><a style="color: Orange" href="https://github.com/Snowyman12/102.git">Github</a></li>
          <li><a style="color: Purple" href="https://autonews.autoua.net/" >AutoNews Ukraine</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>  
<div class="bgded overlay" style="background-image:url('{% static 'img/demo/backgrounds/delorian3.jpg' %}');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1 align="center" style="color:Pink">Самые быстрые автомобили на планете.</h1> 

        <li class="one_third">
          <h6 class="heading font-x1">Noble M600 – 362 км/ч</h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/1_69.jpeg"></p>
          <p>Noble M600 – суперкар британского производства, выпускаемый с 2010 года. Он оснащается 4,4-литровым V8 Yamaha с мощностью до 659 л.с. и моментом 838 Нм. Они позволяют машине разгоняться до 362 км/ч. Разгон до сотни занимает всего 3,1 секунды, до 200 – 9 секунд, а «квотер» (1/4 мили или 402 метра) спорткар проезжает за 11 секунд.
          Несмотря на столь выдающиеся характеристики, Noble M600 – бюджетный, по меркам суперкаров, автомобиль. Стать его владельцем можно «всего» за $330 тыс. Однако без минусов не обошлось. Спорткар имеет только задний привод и лишен ABS, поэтому и управляемость, и торможение у него не на высоте. Даже опытному пилоту разгон до максималки дается с трудом. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Pagani Huayra – 370 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/2_28.jpeg"></p>
          <p>Pagani Huayra («уайра», если кто не знает, как произносится название) – итальянский суперкар, выпускающийся с 2012 года. Он оборудован 6-литровым би-турбо двигателем V12 производства Mercedes. Мощность мотора составляет до 755 лошадок, крутящий момент около 1000 Нм. Двигатель укомплектован 7-ступенчатой секвентальной коробкой передач с двумя сцеплениями. Он обеспечивает разгон до 100 км/ч за 3,3 секунды.
          Pagani Huayra – автомобиль хоть и серийный, но редкий. В год компания выпускает всего около 20 суперкаров, поэтому заказывать надо заранее. Кроме того, не забудьте подготовить около $1,5 млн. Примерно во столько обойдется базовая версия спорткара. Другие модификации дороже, за кузов родстер производитель просил до $3 млн. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">McLaren F1 – 386 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/3_13.jpeg"></p>
          <p>McLaren F1 хоть и выпускался в прошлом веке, с 1992-го по 1998 год, но это не мешает ему находиться в списке самых быстрых автомобилей в 2019-м. Спорткар, произведенный в количестве 106 экземпляров, оборудован мотором V12 на 6 литров от BMW. Он развивает мощность 627 л.с. и выдает 651 Нм крутящего момента. В 1998 году он смог разогнать автомобиль до 386 км/ч. Разгон до сотни, при этом, занял 2,8 секунды.
          </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Koenigsegg CCX – более 400 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/4_10.jpeg"></p>
          <p>Koenigsegg CCX – шведский спорткар, созданный в 2006 году в честь 10-летнего юбилея компании. Он оборудован 4,7-литровым мотором V8, выдающим на бензине до 817 л.с. мощности и 920 Нм момента. Примечательной особенностью мотора является многотопливность. Тестирование показало, что на топливе Е85 (смесь 85% спирта и 15% бензина) Koenigsegg CCX выдает целых 1018 л.с. Разгон до 100 км/ч спорткар осуществляет за 3,2 секунды, до 200 – 9,8 секунд.</p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">9ff GT9-R – 420 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/5_03.jpeg"></p>
          <p>9ff GT9-R – суперкар, производимый на основе Porsche 911 в 2007-2011 годах. Всего было выпущено 20 таких авто. 9ff GT9-R оснащен оппозитным 6-цилиндровым мотором на четыре литра, выдающим до 1120 л.с. мощности и 1050 Нм крутящего момента. Автомобиль разгоняется до 100 км/ч за 2,9 секунды, до 300 – 17 секунд, а максимальная скорость достигает 420 км/ч.</p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">SSC Ultimate Aero TT – 421 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/6_02.jpeg"></p>
          <p>SSC Ultimate Aero TT – американский спорткар компании Shelby Super Cars. Он оснащен 6,4-литровым мотором V8, способным выдавать 1305 л.с. мощности и развивать крутящий момент 1500 Нм. Автомобиль разгоняется до 100 км/ч за 2,8 секунды, до 200 – за 6,3, до 300 – за 13, а до 400 – за 30 секунд. Производитель рассчитывал, что машина сможет ехать быстрее 430 км/ч, но на практике получилось только 421 км/ч. Но это не помешало SSC Ultimate Aero TT закрепиться в списке самых быстрых авто в мире. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Hennessey Venom GT Spyder – 427 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/7_02.jpeg"></p>
          <p>Hennessey Venom GT Spyder – суперкар на базе Lotus Elise, оснащенный американским мотором V8 и имеющий ряд изменений. Двигатель имеет объем семь литров, развивает мощность до 1451 л.с. и крутящий момент до 1745 Нм. Он позволяет разгоняться до сотни за 2,5 секунды, а до 300 км/ч – за 13,5 секунд. Максимальная зафиксированная скорость Hennessey Venom GT Spyder составила 427 км/ч. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Bugatti Veyron Super Sport – 431 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/8_03.jpeg"></p>
          <p>Bugatti Veyron Super Sport – версия легендарного спорткара, одного из первых среди серийных авто, получивших мотор на 1000+ л.с. Она создана в 2010 году. Машина оснащена 8-литровым мотором W12, развивающим 1200 л.с. мощности и 1500 Нм момента. Разгон до сотни – 2,5 секунды, до 200 – менее семи, а до 300 – по разным данным, от 14,7 до 17,7 секунд. Максимальная зафиксированная скорость – 431 км/ч.</p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Bugatti Chiron – 443 км/ч </h6>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/9_02.jpeg"></p>
          <p>Bugatti Chiron – наследник модели Veyron, выпускаемый с 2016 года. Он оборудован таким же мотором W12 на восемь литров, но его мощность инженеры довели до 1500 л.с., а крутящий момент – до 1600 Нм. Благодаря этому автомобиль стал еще быстрее. Отметка 100 км/ч покоряется ему за 2,4 секунды, 200 км/ч – за 6,1 секунды, 300 – за 13,1, а 400 – за 32 секунды.
          Максимальная скорость авто достигает 443 км/ч. Однако как и в случае с предшественником, для клиентов скорость ограничена показателем 420 км/ч. По словам создателей машины, это вынужденная мера. Скорость пришлось ограничить, потому что никакие шины, производимые в наше время, не способны выдержать ее. Если бы не этот нюанс – теоретически Chiron мог набрать до 465 км/ч. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
         <li class="one_third">
          <h6 class="heading font-x1">Koenigsegg Agera RS – 458 км/ч "></p>
          <p ><img src="https://glavcom.ua/img/forall/users/49/4935/10_03.jpeg"></p>
          <p>Самый быстрый серийный автомобиль в мире состоянием на 2019 год – Koenigsegg Agera RS. Обладатель актуального рекорда установил его в ноябре 2017 года, когда смог разогнаться до средней скорости по прямой в 447 км/ч (туда и обратно). Максимальная же скорость, согласно показателям GPS-спидометра, составила целых 458 км/ч.
          Выдающиеся показатели стали возможны благодаря сочетанию хорошей аэродинамики, сравнительно малой массы (меньше 1400 кг с полным баком) и 5-литрового V8, выдающего целый мегаватт (1360 л.с.) мощности. Соотношение массы к мощности составляет практически 1:1 (килограмм на «лошадь»), что для серийного авто просто феноменально. </p> <p style="color: Blue"><a href="https://glavcom.ua/ru/articles/samye-bystrye-avtomobili-na-planete-reyting-2019-goda-517404.html">Больше информации тут</a></p>
        </li>
      </div>
    </header>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
</body>
</html>